$white: #ffffff;
$accent-light: #FF5847;
$accent: #D83232;
$black: #000000;
$grey: #dddddd;

.visible {
    display: block !important;
}

.text-wrapper {
    h2 {
        text-align: center;
        color: $accent;
        padding: 3rem 0;
    }
}

.button-holder {
    margin: 3rem 0;
    button {
        color: $white;
        background: transparent;
        padding: 1em 4em;
        border: 3px solid $white;
        border-radius: 2rem;
        cursor: pointer;
        transition: all 150ms ease;
        &:hover {
            background-color: $white;
            color: $accent;
        }
    }
}