@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");
.visible {
  display: block !important;
}

.text-wrapper h2 {
  text-align: center;
  color: #D83232;
  padding: 3rem 0;
}

.button-holder {
  margin: 3rem 0;
}
.button-holder button {
  color: #ffffff;
  background: transparent;
  padding: 1em 4em;
  border: 3px solid #ffffff;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 150ms ease;
}
.button-holder button:hover {
  background-color: #ffffff;
  color: #D83232;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
body .header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #ffffff;
  z-index: 3;
}
body .header #top {
  position: absolute;
  top: 0;
}
body .header .logo {
  position: absolute;
  display: flex;
  height: 100%;
  max-width: 300px;
}
body .header .logo img {
  padding: 1.5rem;
}
body .header .nav-bar {
  padding: 2rem 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
body .header .nav-bar .nav-button {
  color: #000000;
  text-decoration: none;
  padding: 0.75rem 1rem;
  position: relative;
}
body .header .nav-bar .nav-button::after {
  transition: all 150ms ease;
  transform: scaleX(0);
  position: absolute;
  transform-origin: left;
  content: "";
  bottom: 0;
  background-color: #FF5847;
  left: 0;
  width: 100%;
  height: 2px;
}
body .header .nav-bar .nav-button:not(:last-of-type) {
  margin: 0 1rem;
}
body .header .nav-bar .nav-button:not(:last-of-type):hover {
  color: #FF5847;
}
body .header .nav-bar .nav-button:not(:last-of-type):hover::after {
  transform: scaleX(1);
}
body .header .nav-bar .nav-button:last-of-type {
  background-color: #FF5847;
  border-radius: 2rem;
  color: #ffffff;
  transition: all 150ms ease;
}
body .header .nav-bar .nav-button:last-of-type:hover {
  background-color: #D83232;
  color: #ffffff;
}
body .hero {
  display: flex;
}
body .hero .bgc-light {
  position: absolute;
  width: 3000px;
  z-index: -1;
  height: 1000px;
  transform: rotate(-10deg) translate(-300px, -700px);
  background-color: #FF5847;
}
body .hero .bgc-dark {
  position: absolute;
  width: 3000px;
  z-index: -2;
  height: 1000px;
  transform: translate(-300px, -300px);
  background-color: #D83232;
}
body .hero .main-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
body .hero .main-content .left {
  width: 50%;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .hero .main-content .left .box {
  color: #ffffff;
}
body .hero .main-content .left .box h2 {
  font-size: 2.25rem;
}
body .hero .main-content .left .box p {
  font-weight: 400;
  margin: 20px 0;
  font-size: 18px;
}
body .hero .main-content .left .box button {
  color: #ffffff;
  background-color: #FF5847;
  background: #FF5847;
  padding: 1em 2em;
  border: 3px solid #ffffff;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 150ms ease;
}
body .hero .main-content .left .box button:hover {
  background-color: #ffffff;
  color: #FF5847;
}
body .hero .main-content .right {
  padding: 4rem;
  width: 50%;
}
body .hero .main-content .right img {
  max-height: 500px;
}
body .client {
  width: 100%;
  margin-top: 100px;
}
body .client h2 {
  text-align: center;
  color: #D83232;
  padding: 3rem 0;
}
body .client .images-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
body .client .images-wrapper .img-holder {
  min-width: 250px;
  background-color: #dddddd;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .client .images-wrapper .img-holder img {
  max-height: 150px;
  object-fit: cover;
  object-position: center;
  padding: 1rem 2rem;
}
body .cards .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  margin: 0 3rem;
  align-items: end;
}
body .cards .card-wrapper .card {
  background-color: #D83232;
  color: #ffffff;
  max-width: 350px;
  padding: 2rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  text-align: center;
  min-height: 400px;
}
body .cards .card-wrapper .card i {
  font-size: 4rem;
  margin: 3rem 0;
}
body .cards .card-wrapper .card h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
body .cards .card-wrapper .card p {
  font-size: 1.1rem;
  font-weight: 100;
}
body .image {
  border-top: 2px dashed #D83232;
  box-shadow: 0px -12px 12px 0px rgba(0, 0, 0, 0.3);
  position: relative;
}
body .image .img-holder {
  position: relative;
  width: 60%;
  height: auto;
  margin: 4rem 0;
}
body .image .img-holder img {
  width: 100%;
  min-height: 500px;
  height: 100%;
  display: block;
  object-fit: cover;
}
body .image .text-container {
  background-color: #dddddd;
  position: absolute;
  top: 50%;
  padding: 4rem 2rem;
  right: 0;
  width: 50%;
  text-align: center;
  transform: translateY(-50%);
}
body .image .text-container h2 {
  color: #D83232;
}
body .image .text-container p {
  padding: 1rem 5rem 0;
}
body .dashed-cards .card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  margin: 0 3rem;
  align-items: end;
}
body .dashed-cards .card-wrapper .card {
  background-color: #ffffff;
  color: #D83232;
  max-width: 350px;
  border: 3px dashed #D83232;
  padding: 2rem;
  border-radius: 6px;
  text-align: center;
  height: 100%;
}
body .dashed-cards .card-wrapper .card i {
  font-size: 4rem;
  margin: 3rem 0;
}
body .dashed-cards .card-wrapper .card h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
body .dashed-cards .card-wrapper .card p {
  font-size: 1.1rem;
  font-weight: 100;
  color: #000000;
}
body .contact-us__top {
  background-color: #D83232;
  color: #ffffff;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .contact-us__top .text-wrapper {
  width: 350px;
}
body .contact-us__top .text-wrapper h2 {
  text-align: center;
  padding-top: 3rem;
  color: #ffffff;
}
body .contact-us__top .text-wrapper p {
  text-align: center;
}
body .contact-us__top .form-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  flex-direction: column;
}
body .contact-us__top .form-holder form {
  margin: 2rem 0;
  display: flex;
  width: 350px;
  flex-direction: column;
}
body .contact-us__top .form-holder form label {
  font-size: 14px;
  margin-bottom: 0.25rem;
}
body .contact-us__top .form-holder form label:not(:first-of-type) {
  margin-top: 1rem;
}
body .contact-us__top .form-holder form input,
body .contact-us__top .form-holder form textarea {
  border: 0;
  border-radius: 6px;
  padding: 0.5em;
  height: 2.5rem;
  width: 100%;
  border: 3px solid transparent;
  font-size: 1rem;
  outline: none;
}
body .contact-us__top .form-holder form input:focus,
body .contact-us__top .form-holder form textarea:focus {
  border: 3px solid #6666ff;
}
body .contact-us__top .form-holder form textarea {
  height: 4rem;
  resize: vertical;
  min-height: 2.5rem;
  max-height: 15rem;
  resize: vertical;
  padding: 0.25em 0.5em;
}
body .contact-us__top .check-box {
  display: flex;
  align-items: center;
  user-select: none;
  justify-content: center;
  width: 350px;
}
body .contact-us__top .check-box .check-box__border {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  width: 25px;
  height: 25px;
  margin-right: 1rem;
  border: 2px solid #ffffff;
}
body .contact-us__top .check-box .check-box__border i {
  position: absolute;
  top: 50%;
  display: none;
  left: 50%;
  transform: translate(-50%, -50%);
}
body .contact-us__top .check-box span {
  font-size: 13px;
}
body .contact-us__bottom {
  background-color: #D83232;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px dashed #ffffff;
}
body .contact-us__bottom .text-wrapper {
  width: 350px;
}
body .contact-us__bottom .text-wrapper h2 {
  text-align: center;
  padding-top: 3rem;
  color: #ffffff;
}
body .contact-us__bottom .contact-content {
  display: flex;
  flex-direction: row;
  margin: 2rem 0 4rem;
}
body .contact-us__bottom .contact-content .item i {
  text-align: center;
  font-size: 1.1rem;
  background-color: #FF5847;
  border-radius: 50%;
  padding: 0.75rem;
  min-width: 45px;
  min-height: 45px;
}
body .contact-us__bottom .contact-content .item:nth-of-type(2) {
  margin: 0 3rem;
}
body .career .items-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
body .career .items-wrapper .item {
  position: relative;
}
body .career .items-wrapper .item img {
  width: 100%;
  height: auto;
  display: block;
  object-position: center;
  object-fit: cover;
}
body .career .items-wrapper .item .text {
  background-color: #dddddd;
  max-width: 600px;
  padding: 4rem 6rem;
  position: absolute;
  border-radius: 6px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}
body .career .items-wrapper .item .second {
  transform: translate(-100px, -50%);
  z-index: -1;
}
body .career .items-wrapper .item .first,
body .career .items-wrapper .item .third {
  transform: translate(200px, -50%);
}
body .career .items-wrapper .item .first {
  z-index: -1;
}
body .career .items-wrapper .item .third {
  z-index: 3;
}
body .offer {
  background-color: #D83232;
}
body .offer .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
body .offer .text-wrapper h2 {
  color: #ffffff;
  max-width: 500px;
  text-align: center;
}
body .offer .button-holder {
  display: flex;
  justify-content: center;
  margin: 0 0 3rem 0;
}
body .back-to-top {
  background-color: #FF5847;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  padding: 1rem 0;
}
body .footer > div {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}
body .footer > div:first-of-type span:first-of-type {
  margin-right: 2rem;
}

@media (max-width: 1200px) {
  body .dashed-cards .card-wrapper .card,
body .cards .card-wrapper .card {
    max-width: 270px;
    height: 100%;
  }
  body .dashed-cards .card-wrapper .card p,
body .cards .card-wrapper .card p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=main.css.map */
